###Create A list

In [1]:
li = []

In [ ]:
li = [1,2,3]

In [2]:
type(li)

list

In [4]:
li = [1,2,]

In [5]:
li = [1,2,]

In [9]:
li = [1,2,"Parikh",3,4]

In [10]:
li

[1, 2, 'Parikh', 3, 4]

#Access and Change Elements

In [12]:
li[4]

4

In [13]:
li[6]

IndexError: list index out of range

In [14]:
li[1:3]

[2, 'Parikh']

In [15]:
li

[1, 2, 'Parikh', 3, 4]

##Slicing OF A list

In [16]:
li[1:3]

[2, 'Parikh']

In [17]:
li

[1, 2, 'Parikh', 3, 4]

In [18]:
li[:]

[1, 2, 'Parikh', 3, 4]

In [19]:
li

[1, 2, 'Parikh', 3, 4]

In [20]:
li[1:10]

[2, 'Parikh', 3, 4]

##Insert And Append Elements in List

In [21]:
li.append('Anukash')

In [22]:
li

[1, 2, 'Parikh', 3, 4, 'Anukash']

In [23]:
li.insert(1,)

TypeError: insert expected 2 arguments, got 1

In [24]:
li

[1, 2, 'Parikh', 3, 4, 'Anukash']

In [25]:
li.insert(6,10)

In [26]:
li

[1, 2, 'Parikh', 3, 4, 'Anukash', 10]

In [27]:
li.append([9,10,11])

In [28]:
li

[1, 2, 'Parikh', 3, 4, 'Anukash', 10, [9, 10, 11]]

In [29]:
li.extend([9,10,11])

In [30]:
li

[1, 2, 'Parikh', 3, 4, 'Anukash', 10, [9, 10, 11], 9, 10, 11]

In [45]:
li = ['abcd','def']

In [46]:
li.insert(4,5)

In [47]:
li

['abcd', 'def', 5]

In [50]:
li = ['abcd',5,'def',5]

In [51]:
li.remove(5)

In [52]:
li

['abcd', 'def', 5]

##Removing Elements from List

In [31]:
li.remove(2)

In [32]:
li.append(5)

In [33]:
li

[1, 'Parikh', 3, 4, 'Anukash', 10, [9, 10, 11], 9, 10, 11, 5]

In [34]:
li.remove(5)

In [35]:
li

[1, 'Parikh', 3, 4, 'Anukash', 10, [9, 10, 11], 9, 10, 11]

In [36]:
li.remove(6)

ValueError: list.remove(x): x not in list

In [37]:
li.pop()

11

In [38]:
li.pop(18)

IndexError: pop index out of range

In [53]:
li = [5,2,6,8]
li.pop(2)

6

In [54]:
li

[5, 2, 8]