In [1]:
a = (1,2,3)
b = 4,5

In [2]:
# for loops
for i in a:
    print(i)

1
2
3

In [3]:
1 in a

True

In [4]:
1 in b

False

In [5]:
len(a)

3

In [6]:
c = a + b

In [7]:
c

(1, 2, 3, 4, 5)

In [8]:
d = (a, b)

In [9]:
d

((1, 2, 3), (4, 5))

In [10]:
#repetition
e = a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [11]:
max(a)

3

In [12]:
min(a)

1

In [13]:
a2 = (1,2,'s', (1,2))
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [14]:
a2 = (1,2,(1,2))
min(a2)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [15]:
a3 = (1,2.2)
min(a3)

1

In [16]:
#list to tuple
l = [1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [17]:
f = a+b

In [18]:
f

(1, 2, 3, 4, 5)